= form_for @upload, html: { class: "form form-horizontal upload directUpload", data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } } do |f|
  .form-group
    = f.label :upload_url, 'Excel File', class: 'control-label col-lg-2'
    .col-lg-10
      = f.file_field :upload_url, accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', class: 'form-control', required: true
    = f.error_span(:upload_url)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit 'Generate XML', class: 'btn btn-primary', disabled: true
      = link_to t('.cancel', :default => t("helpers.links.cancel")), uploads_path, :class => 'btn btn-default'
