- model_class = Upload
.page-header
  %h1 Excel to XML Conversions
= link_to 'New Conversion', new_upload_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:upload_url)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @uploads.each do |upload|
      %tr
        %td= upload.user_id
        %td= upload.upload_url
        %td=l upload.created_at
        %td
          = link_to 'Destroy', upload_path(upload), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
